<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <dataSource>
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.1.202:3306/test"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </dataSource>

    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>

    <plugins>
        <plugin interceptor="cn.udream.mybatis.plugin.SimpleLogInterceptor"/>
    </plugins>

    <typeHandlers>
        <typeHandler javaType="localdatetime" handler="cn.udream.mybatis.typeHandler.LocalDateTimeTypeHandler"/>
    </typeHandlers>

    <typeAliases>
        <typeAlias alias="localdatetime" type="java.time.LocalDateTime"/>
    </typeAliases>
</configuration>