<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="cn.udream.mybatis.mapper.UserMapper">

    <select id = "selectById" parameterType="java.lang.Long" resultType = "cn.udream.mybatis.domain.User">
        select * from user where id = ?
    </select>

<!--    <update id = "updateUserPassword">-->
<!--        update user-->
<!--        set password = #{newPassword}-->
<!--        where id = #{id}-->
<!--    </update>-->

<!--    <insert id = "insertUser" paramType="cn.udream.mybatis.domain.User">-->
<!--        insert into user-->
<!--        (name, password, create_time)-->
<!--        value-->
<!--        (-->
<!--        #{name}, #{password}, #{createTime}-->
<!--        )-->
<!--    </insert>-->

<!--    <delete id = "deleteUserById">-->
<!--        delete from user-->
<!--        where id = #{id}-->
<!--    </delete>-->
</mapper>